.background{
    background-color: white;
}
.usuario{
    font-family: Usuario;
    font-weight: bold;
    color: #1C9474;
    padding-left: 0px;
    padding-right: 5px;
}
.icone{
    padding-left: 10px;
}