.background{
    background-color: white;
}
.usuario{
    font-family: Usuario;
    font-weight: bold;
    color: #1C9474;
    padding-left: 0px;
    padding-right: 0px;
}
.foto
{
border: 5px solid #1A3369;
}