/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */

@font-face {
  font-family: Usuario;
  src: url(assets/fonts/Inter.ttf);
}

@font-face {
  font-family: Titulo;
  src: url(assets/fonts/Rowdies.ttf);
}

@font-face {
  font-family: Tabela;
  src: url(assets/fonts/SecularOne.ttf);
}

.navbar-brand{
  margin: 10px;
  font-family: Usuario;
  font-weight: bold;
  color: #A4CDBE !important;
}

.bg-light{
  background-color: #FFFFFF !important;
}

.btn-primary {
  color: #fff;
  background-color: #E37623;
  border: solid #E37623;
  border-radius: 3px;
  font-family: Usuario;
  font-weight: bold;
}
.btn-primary:hover
{
  background-color: #c5671f;
  border: solid #c5671f;
  outline: none !important;
  box-shadow: none;
}

.btn-primary:focus{
  background-color: #c5671f;
  border: solid #c5671f;
  outline: none !important;
  box-shadow: none !important;
}

.btn-secondary {
  color: #fff;
  background-color: #233D6E;
  border: solid #233D6E;
  border-radius: 3px;
  font-family: Usuario;
  font-weight: bold;
}
.btn-secondary:hover
{
  background-color: #1A3369;
  border: solid #1A3369;
  outline: none !important;
  box-shadow: none;
}

.btn-secondary:focus{
  background-color: #1A3369;
  border: solid #1A3369;
  outline: none !important;
  box-shadow: none !important;
}


.foto-perfil
{
border: 5px solid #1A3369;
object-fit: cover;
width: 65px;
height: 65px;
}

.foto
{
object-fit: cover;
width: 50px;
height: 50px;
}

.capa
{
object-fit: cover;
width: 52px;
height: 70px;
}


.titulo
{
 font-family: Titulo;
 font-weight: bold;
 font-size: xx-large;
 color: #1a3369;
 text-align: center;
 text-transform: uppercase;
}

.tabela{
  font-family: Tabela;
}

.tabela-cheia{
background-color: #3464cc ;
}

.cabecalho{
  color: #ecbc14;
  border: #ecbc14;
  font-size: 20px;
  text-transform: uppercase;
}

.item{
  color: #FFFF;
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .bloco-card{
    min-height: 200px;
    max-height: 400px;
  }
}

.bloco-button{
  min-height: 100px;
}

.alinhamento{
  align-items: center;
  height: 40;
}

.imagem{
  text-align: center;
}

.listaGE {
  font-family: Usuario;
  font-size: large;
  font-weight: bold;
  color: #1A3369;
  line-height: 1.1;
  display: grid; 
  margin-top: 0.5em;
}

input[type="checkbox"] {
margin: 0;
font: inherit;
width: 1.15em;
height: 1.15em;
border: 0.15em solid currentColor;
border-radius: 0.15em;
transform: translateY(-0.075em);
place-content: center;
}

.opcoes{
  font-family: Usuario;
  font-weight: bold;
  font-size: large;
  color: #1C9474;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }