.background{
    background-color: #1F9F7D;
    color: #E37623;
}
.backgroundlista{
    background-color: #A4CDBE;
}
.alinhamento{
    /* text-align: center; */
    /* align-self: center; */
    /* min-width: 50%; */
    max-width: 50%;
    background-color: white;
}
.imagem{
    /* max-width: 300px; */
    text-align: center;
}
.redefinirSenha{
    text-align: right;
    padding: 2%;
}
.cadastrar{
    padding: 2%;
    /* text-align: right; */
}
.informe{
    text-align: center;
    font-size: xx-large;
    
    font-family: Usuario;
    font-weight: bold;
}