<!-- <div class="row ">
    <div class="row justify-content-center">
        <div class="col m-4">
            <button class="btn btn-primary"  (click)="navegarComoAluno()">Continuar como Aluno</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col m-4">
            <button class="btn btn-primary" (click)="navegarComoProfessor()">Continuar como Professor</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col m-4">
            <button class="btn btn-primary" (click)="navegarComoInstituicao()">Continuar como Instituição</button>
        </div>
    </div>
</div> -->
<app-selecao-turma-pagina></app-selecao-turma-pagina>