<div class="col">
    <div class="row">
        <app-app-bar [usuario]="obterUsuario()" ></app-app-bar>
    </div> 
    <div class="row">
        <!--TODO:  Isso poderia se tornar uma nav bar -->
        <div class="col-2">
            <div class="row m-1" *ngFor="let rota of obterRotas()">
                <a routerLink="{{rota.rota}}">
                    <button class="btn btn-primary mx-4 botao">{{rota.nome}}</button>
                </a>
            </div>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

