.background{
    background-color: #1F9F7D;
    color: #E37623;
}
.backgroundlista{
    background-color: #A4CDBE;
}
.alinhamento{
    /* text-align: center; */
    align-self: center;
    min-width: 50%;
}