.btn-primary {
  color: #fff;
  background-color: #E37623;
  border: solid #E37623;
  border-radius: 3px;
  font-family: Usuario;
  font-weight: bold;
}
.btn-primary:hover
{
  background-color: #c5671f;
  border: solid #c5671f;
  outline: none !important;
  box-shadow: none;
}

.btn-primary:focus{
  background-color: #c5671f;
  border: solid #c5671f;
  outline: none !important;
  box-shadow: none !important;
}


.btn-danger {
  color: #fff;
  background-color: #bb2d3b;
  border: solid #bb2d3b;
  border-radius: 3px;
  font-family: Usuario;
  font-weight: bold;
}
.btn-danger:hover
{
  background-color: #bb2d3b;
  border: solid #bb2d3b;
  outline: none !important;
  box-shadow: none;
}

.btn-danger:focus{
  background-color: #bb2d3b;
  border: solid #bb2d3b;
  outline: none !important;
  box-shadow: none !important;
}
.p-background{
  background-color: #1A3369;
  margin-top: 1pt;
  color:white;
}

::ng-deep .custom-modal .modal-dialog{
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 600px) {
::ng-deep .custom-modal .modal-dialog{
  max-width: 80%;
  max-height: 80%;
}
} 

::ng-deep .modal-content {
background-color: #A4CDBE !important;
}