<div class="row">
    <div class="col">
        <div class="row justify-content-center">
            <div class=" col-md-10 px-0" *ngIf="obterTurmaAtual() != undefined; else erroTurma">
                <div class="row py-3">
                    <span class="titulo">Ranking {{obterTurmaAtual()!.nome}}</span>
                </div>
                <app-classificacao-lista [listaPontos]="obterListaPontos()" [listaAlunos]="obterListaAlunos()">
                </app-classificacao-lista>
            </div>
        </div>
        <ng-template #erroTurma>
            <div class="alert alert-info col-8 my-5" role="alert">
                <span>Nenhuma turma selecionada</span>
            </div>
        </ng-template>
    </div>
    <div class="col-7" *ngIf="checarPermissaoMarcacaoLivro()">
        <app-marcacao-pagina [turmaAtual]="turmaAtual"></app-marcacao-pagina>
    </div>
</div>