.data-processing {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: rgba(51, 51, 51, 1);

    transition: opacity 0.5s ease-in-out;
    &.show {
        opacity: 0.6;
        z-index: 999;
    }
    &.hide {
        opacity: 0;
        z-index: -1;
    }
}
.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 38px;
    height: 38px;
    margin-left: -19px;
    margin-top: -19px;
  }