<div class="row py-1">
    <div class="col-md-2 col-3 text-center">
        <div *ngIf="premio != null; else colocacaoPadrao">
            <span><img src="{{premio}}" alt="" height="50"></span>
        </div>
        <ng-template #colocacaoPadrao>
            <span class="align-self-center tabela item">{{colocacao}}</span>
        </ng-template>
    </div>
    <div class="col-md-2 col-2">
        <!-- TODO foto pode ser  "" -->
        <div *ngIf="img; else fotoPadrao"> 
            <span><img src={{img}} alt="" height="50" width="50"></span>
        </div>
        <ng-template #fotoPadrao>
            <span><img src="../../../../assets/images/default_avatar.png" alt="" height="50" width="50"></span>
        </ng-template>
    </div>
    <div class="col-md-6 col-3">
        <span class="tabela item">{{nome}}</span>
    </div>
    <div class="col-md-1 col-4 text-center">
        <span class="tabela item">{{ponto.totalPontos}}</span>
    </div>
</div>