<div class="col">
    <div *ngIf="formatoInvalido">
        <span class="text-danger">Formato de arquivo invalido</span>
    </div>
    <div *ngIf="tamanhoInvalido">
        <span class="text-danger">Tamanho de arquivo superior a 1Mb</span>
    </div>
    
    <label class="image-upload-container btn btn-bwm">
        <div class="row">
            <img src='{{ObterImagem()}}' alt="" >
        </div>
        <div class="row">
            <input #imageInput type="file" accept="image/*" (change)="processarArquivo(imageInput)">        
        </div>
    </label>
</div>