@media only screen and (max-width: 600px) {
    ::ng-deep .custom-modal .modal-dialog{
        max-width: 100%;
        max-height: 100%;
    }
  }
  
@media only screen and (min-width: 600px) {
    ::ng-deep .custom-modal .modal-dialog{
        max-width: 80%;
        max-height: 80%;
    }
  } 

::ng-deep .modal-content {
    background-color: #A4CDBE !important;
  }