<div class="row justify-content-center">
    <div class=" col-md-6 px-0">
        <div class="row py-3">
            <span class="titulo">Catálogo de Livros</span>
        </div>
        <div class="table-resposive">
            <div class="tabela-cheia" *ngIf="obterListaLivros()!.length > 0; else erro">
                <div class="row py-2">
                    <div class="col-md-2 col-2 text-center tabela cabecalho"></div>
                    <div class="col-md-7 col-7 tabela cabecalho">Título</div>
                    <div class=" col-md-3 col-3 text-center tabela cabecalho">Lido</div>
                </div>
                <div>
                    <div *ngFor="let livro of obterListaLivros()">
                        <div class="row py-1">
                            <div class="col-md-2 col-2 text-center">
                                <div *ngIf="livro!.capa != null; else fotoPadrao"> 
                                    <span><img src={{livro!.capa}} alt="" height="70" width="50"></span>
                                </div>
                                <ng-template #fotoPadrao>
                                    <span><img src="../../../assets/images/default_capa.png" alt="" height="70" width="50"></span>
                                </ng-template>
                            </div>
                            <div class="col-md-7 col-7 tabela item">
                                <span>{{livro.titulo}}</span>
                            </div>
                            <div class="col-md-3 col-3 text-center">
                                <span><input type="checkbox" (change)="check(livro.id)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #erro>
                <div class="alert alert-info my-5" role="alert">
                    Lista de Livros vazia!
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row justify-content-center py-4 bloco-button">
        <div class="col-md-4 col-12">  
            <button class="btn-primary h-100 w-100 item" (click)="salvar()">Salvar</button>
        </div>  
    </div>
</div>
