<div class="table-resposive">
        <div class="tabela-cheia" *ngIf="obterLista().length > 0; else erro">
                <div class="row py-2">
                    <div class="col-md-2 col-2 text-center tabela cabecalho"></div>
                    <div class="col-md-5 col-5 tabela cabecalho">Nome</div>
                    <div class=" col-md-3 col-2 text-center tabela cabecalho">Livros lidos</div>
                    <div class="col-md-2 col-3 tabela cabecalho" scope="col"></div>
                </div>
            <div>
                <div *ngFor="let aluno of obterLista()" >
                    <div class="row py-1">
                        <div class="col-md-2 col-2 text-center">
                            <div *ngIf="aluno!.foto; else fotoPadrao"> 
                                <span><img src={{aluno!.foto}} alt="" height="50" width="50"></span>
                            </div>
                            <ng-template #fotoPadrao>
                                <span><img src="../../../../assets/images/default_avatar.png" alt="" height="50" width="50"></span>
                            </ng-template>
                        </div>
                        <div class="col-md-5 col-5 tabela item">
                            <span>{{aluno.nome}}</span>
                        </div>
                        <div class="col-md-3 col-2 text-center tabela item">
                            <span>{{obterPontuacaoAluno(aluno)}}</span>
                        </div>
                        <div class="col-md-2 col-3 text-center">
                            <span><button class="btn btn-primary" (click)="selecionarAluno(aluno)"><mat-icon>bookmark_added</mat-icon></button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <ng-template #erro>
        <div class="alert alert-info my-5" role="alert">
            Lista de Alunos vazia!
        </div>
    </ng-template>
</div>