<div class="table-resposive">
    <div class="tabela-cheia" *ngIf="obterLista().length > 0; else erro">
        <div class="row py-2">
            <div class="col-md-2 col-2 text-center tabela cabecalho"></div>
            <div class="col-md-4 col-2 tabela cabecalho">Nome</div>
            <div class=" col-md-3 col-4 text-center tabela cabecalho">Livros lidos</div>
        </div>
        <div>
            <div *ngFor="let aluno of obterLista()">
                <div class="row py-1">
                    <div class="col-md-2 col-2 text-center">
                        <div *ngIf="aluno!.foto; else fotoPadrao">
                            <span><img class="foto" src={{aluno!.foto}} alt=""></span>
                        </div>
                        <ng-template #fotoPadrao>
                            <span><img class="foto" src="../../../../assets/images/default_avatar.png" alt=""></span>
                        </ng-template>
                    </div>
                    <div class="col-md-4 col-3 tabela item">
                        <span>{{aluno.nome}}</span>
                    </div>
                    <div class="col-md-3 col-2 text-center tabela item">
                        <span>{{obterPontuacaoAluno(aluno)}}</span>
                    </div>
                    <div class="col-md-1 col-2 text-end">
                        <span><button class="btn btn-primary" (click)="selecionarAluno(aluno)">
                                <mat-icon>bookmark_added</mat-icon>
                            </button></span>
                    </div>
                    <div class="col-md-1 col-2 text-end">
                        <span>
                            <button class="btn btn-primary" (click)="selecionarAlunoExcluir(aluno)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #erro>
        <div class="alert alert-info my-5" role="alert">
            Lista de Alunos vazia!
        </div>
    </ng-template>
</div>

<ng-template #content>
    <div class="md-flex" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar Exclusão</h4>
            </div>
            <div class="modal-body">
                <p>Deseja mesmo excluir o aluno {{alunoSelecionado!.nome}}?</p>
                <div class="row">
                    <div class="col-md-1 col-3 text-start">
                        <button type="button" class="btn btn-primary" (click)="excluirAluno(alunoSelecionado!.id)">Excluir</button>
                    </div>
                    <div class="col-md-1 col-3 text-start">
                        <button type="button" class="btn btn-primary" (click)="esconderModal()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>