<div class="row justify-content-center">
    <div class=" col-md-6 px-0" *ngIf="obterTurmaAtual() != undefined; else erroTurma">
        <div class="row py-3">
            <span class="titulo">Alunos da {{obterTurmaAtual()!.nome}}</span>
        </div>
        <app-marcacao-aluno-lista [listaAlunos]="obterListaAlunos()" [listaPonto]="obterListaPonto()"
            (selecaoEmitter)="emitSelecao($event)"></app-marcacao-aluno-lista>
    </div>
</div>
<ng-template #erroTurma>
    <div class="alert alert-info col-8 my-5" role="alert">
        <span>Nenhuma turma selecionada</span>
    </div>
</ng-template>

<app-marcacao-livro-pagina #modal (emitSalvar)="obterAlunosTurma()"></app-marcacao-livro-pagina>