<div class="row py-1">
    <div class="col-md-2 col-3 text-center">
        <div *ngIf="livro!.capa != null; else fotoPadrao">
            <span><img class="capa" src={{livro!.capa}} alt=""></span>
        </div>
        <ng-template #fotoPadrao>
            <span><img class="capa" src="../../../assets/images/default_capa.png" alt=""></span>
        </ng-template>
    </div>
    <div class="col-md-4 col-5 text-center">
        <span class="tabela item">{{livro!.titulo}}</span>
    </div>
    <div class="col-md-3 col-4 text-center">
        <span class="tabela item">{{livro!.autor}}</span>
    </div>
    <div class="col-md-1 col-4 text-center py-2">
        <span><button class="btn btn-primary w-75">
                <mat-icon>checklist</mat-icon>
            </button></span>
    </div>
    <div class="col-md-1 col-4 text-center py-2">
        <span><button class="btn btn-warning w-75" (click)="Editar()">
                <mat-icon>edit</mat-icon>
            </button></span>
    </div>
    <div class="col-md-1 col-4 text-center py-2">
        <span><button class="btn btn-danger w-75" (click)="Excluir()">
                <mat-icon>delete</mat-icon>
            </button></span>
    </div>
</div>