<div class="row">
    <div class="col-md text-center">
        <span class="tabela item">{{livro!.titulo}}</span>
    </div>
    <div class="col-md-2">
        <span class="tabela item">{{livro!.autor}}</span>
    </div>
    <div class="col-md-1 text-center">
        <span><button class="btn btn-warning w-75"><mat-icon>edit</mat-icon></button></span>
    </div>
    <div class="col-md-1 text-center">
        <span><button class="btn btn-danger w-75"><mat-icon>delete</mat-icon></button></span>
    </div>
</div>