.background{
    background-color: #1F9F7D;
    color: #E37623;
}
.backgroundlista{
    background-color: #A4CDBE;
}
.cabecalho{
    color: #ecbc14;
    border: #ecbc14;
    font-size: 20px;
    text-transform: uppercase;
}