<div class="table-resposive">
    <table class="table" *ngIf="obterLista().length > 0; else erro">
        <thead>
            <tr>
                <th class="tabela cabecalho" scope="col">Posição</th>
                <th class="tabela cabecalho" scope="col"></th>
                <th class="tabela cabecalho"  scope="col">Nome</th>
                <th class="tabela cabecalho"  scope="col">Pontos</th>
            </tr>
        </thead>
        <tbody>
            <div *ngFor="let item of obterLista()">
                <app-classificacao-lista-item [ponto]="item.ponto" [colocacao]="item.colocacao" [premio]="item.premio">
                </app-classificacao-lista-item>
            </div>
        <tbody>
    </table>
    <ng-template #erro>
        <div class="alert alert-danger" role="alert">
            Lista de Pontos vazia!
        </div>
    </ng-template>
</div>